# GitLab {{ edition_abbreviation }} repository for Debian
deb [arch=amd64] https://packages.gitlab.com/gitlab/gitlab-{{ edition_abbreviation }}/debian/ {{ ansible_distribution_release }} main
deb-src [arch=amd64] https://packages.gitlab.com/gitlab/gitlab-{{ edition_abbreviation }}/debian/ {{ ansible_distribution_release }} main

